
$green:#389F62;
$lightGreen:rgba($green, 0.5);
$blue:#71c4d6;
$lightBlue:#CAEBF2;
$red:#fF3B3f;
$lightRed:rgb(255, 122, 124);
$lightGrey:#efefef;
$grey:#a9a9a9;
$black:#121418;
$fontFamily:'Raleway', sans-serif;
$darkGrey:#3f3f3f;
$white:#ffffff;