@import '~src/sass/main';

.save-loader{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($grey,0.5);
    z-index: 100;
    opacity: 0;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    z-index: -1;
    &.show{
        opacity: 1;
        z-index: 100;
    }
    .save-content{
        text-align: center;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 40%;
        color: $green;
        text-shadow: 0px 1px 3px #fff;
        .fa{
            font-size: 3rem;
        }
    }
}