<div class="container-fluid">
    <div class="w-100">
        <h2>Timeline
            <button class="btn btn-primary float-right" (click)="toggleIncome()">
                <span *ngIf="incomeToggle === 'fullIncome'">Show Weighted Income</span>
                <span *ngIf="incomeToggle === 'weightedIncome'">Show Full Income</span>
            </button>
        </h2>
    </div>
    <div class="w-100">
        <div class="calendar-months row">
            <div class="col text-center" *ngFor="let month of months">{{month}}</div>
        </div>
        <ng-container *ngIf="timeline else loading">
            <div class="row timeline-item" *ngFor="let line of timeline;let i=index">
                <div [ngClass]="['col-'+(line.startMonth)]" (drop)="drop(line,-1,i)" (dragover)="allowDrop($event)">
                </div>
                <div class="selected-item" draggable="true" (dragstart)="drag($event)"
                    [ngClass]="['col-'+(line.endMonth - (line.startMonth))]">
                    <p>{{line.lead.name}} ({{line.lead.duration}} Months)</p>
                    <p>{{incomeToggle | incomeToggleCase}} : {{line[incomeToggle] | currency:"R "}}</p>
                </div>
                <div class="col" (drop)="drop(line,1,i)" (dragover)="allowDrop($event)"></div>
            </div>
        </ng-container>
        <ng-template #loading>
            <app-loader-spinner></app-loader-spinner>
        </ng-template>
    </div>

</div>